<!DOCTYPE html>
<html lang="en">
<style>
    html, body, #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title id="title"></title>
</head>
<body>
<div id="container"></div>
</body>

<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script>
    //Load data from backend
    var tsneresults = "<%= Y %>";
    var query = "<%= query %>";
    var words = "<%= words %>";

    //split string into array
    var splitresults = tsneresults.split(",");
    var splitwords = words.split(",");
    var title = "T-SNE of Reddit Comments containing \"" + query + "\"";
    document.getElementById("title").innerHTML = title;

    var resplitresults = [];
    var chunks = splitresults.length / 2;
    //Split array into subarrays containing point data
    for (var i = 0, j = 0; i < chunks; i++, j += 2) {
        resplitresults[i] = splitresults.slice(j, j + 2);
    }

    chart = anychart.scatter();

    //Split data into series so that they can each have their own label in the tooltip
    var series = [];
    for (var k = 0; k < resplitresults.length; k++) {
        series[k] = chart.marker([[resplitresults[k][0], resplitresults[k][1]]]);
        chart.getSeriesAt(k).name(splitwords[k]);
    }
    chart.addSeries(series);
    chart.title(title);

    // set the container id
    chart.container("container");

    // initiate drawing the chart
    chart.draw();
</script>

</html>